---
import { db } from '../../db'
import { propertiesTable } from '../../db/schema'

import Layout from '../layouts/Layout.astro';

import Button from '../components/ui/Button.astro';
import Input from '../components/ui/Input.astro';
import PropertyListItem from '../components/PropertyListItem.astro';
import SignupDialog from '@/components/SignupDialog.tsx';
import LoginDialog from '@/components/LoginDialog.tsx';

const user = Astro.locals.user;

const fetchedProperties = await db.select().from(propertiesTable);
---

<Layout title="Rate My Flat" user={user || undefined}>
	<main class="my-24 flex flex-col items-center w-full max-w-6xl">
		<h1 class="mb-12 font-semibold text-4xl">rate my flat</h1>
		{!user && (
			<div class="mb-24 gap-2 flex flex-col items-center">
				<SignupDialog client:idle>
					<form class="flex flex-col gap-4" method="post" action="/api/sign-up">
						<div>
							<label for="email">Email</label>
							<Input class="mt-1" id="email" name="email" />
						</div>
						<div>
							<label for="password">Password</label>
							<Input class="mt-1" id="password" name="password" type="password" />
						</div>
						<Button>Sign up</Button>
					</form>
				</SignupDialog>
				<p class="italic">or</p>
				<LoginDialog client:idle>
					<form class="flex flex-col gap-4" method="post" action="/api/login">
						<div>
							<label for="email">Email</label>
							<Input class="mt-1" id="email" name="email" />
						</div>
						<div>
							<label for="password">Password</label>
							<Input class="mt-1" id="password" name="password" type="password" />
						</div>
						<Button>Log in</Button>
					</form>
				</LoginDialog>
			</div>
		)}
		<p class="mb-2 text-lg">Search for a property:</p>
		<Input
		  class="max-w-lg"
			placeholder="Type an address..."
			name="address"
			hx-post="/partials/search"
			hx-trigger="input changed delay:500ms, search" 
			hx-target="#search-results" 
			hx-indicator=".htmx-indicator"
		/>

		<div id="search-results" class="my-12 flex flex-wrap w-full max-w-full h-full">
		  {fetchedProperties.map(p => <PropertyListItem name={p.name || undefined} />)}	
		</div>

	</main>
</Layout>