---
import { db } from '../../db'
import { properties } from '../../db/schema'

import Layout from '../layouts/Layout.astro';

import Button from '../components/Button.astro';
import Input from '../components/Input.astro';
import PropertyListItem from '../components/PropertyListItem.astro';

const fetchedProperties = await db.select().from(properties);

---

<Layout title="Rate My Flat">
	<main class="my-24 flex flex-col items-center w-full max-w-6xl">
		<h1 class="mb-12 font-semibold text-4xl">rate my flat</h1>
		<div class="mb-24 gap-2 flex flex-col items-center">
			<Button id="sign-up">Sign up to rate your property</Button>
			<p class="italic">or</p>
			<Button id="sign-in">Log in</Button>
		</div>
		<p class="mb-2 text-lg">Search for a property:</p>
		<Input
		  class="max-w-lg"
			placeholder="Type an address..."
			name="address"
			hx-post="/partials/search"
			hx-trigger="input changed delay:500ms, search" 
			hx-target="#search-results" 
			hx-indicator=".htmx-indicator"
		/>

		<div id="search-results" class="my-12 flex flex-wrap w-full max-w-full h-full">
		  {fetchedProperties.map(p => <PropertyListItem name={p.name || undefined} />)}	
		</div>
	</main>
</Layout>

<script>
	import Clerk from '@clerk/clerk-js'

  const clerkPublishableKey = import.meta.env.PUBLIC_CLERK_PUBLISHABLE_KEY;
	const clerk = new Clerk(clerkPublishableKey);
	await clerk.load({
		// Set load options here...
	});

	window.addEventListener('popstate', function(event) {
    console.log('URL changed due to history navigation!');
    // You can access the state object associated with the history entry
    console.log(event.state);
	});

	const signUpButton = document.querySelector<HTMLDivElement>('#sign-up')!;
	signUpButton.addEventListener('click', () => {
		clerk.openSignUp({
			afterSignUpUrl: '/?afterSignUp=true'
		});
	});

	const signInButton = document.querySelector<HTMLDivElement>('#sign-in')!;
	signInButton.addEventListener('click', () => {
		clerk.openSignIn({
			afterSignInUrl: '/?afterSignIn=true'
		});
	});
</script>